@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main/style.css">
    <link href="~/css/main/styleSlider.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Playfair+Display:700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations" style="background: #191d21;">
    <div class="body-wrap boxed-container">
        <header class="site-header text-light">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="@Url.Action("Index")">
                                <img class="header-logo-image" src="/Images/svg/logo.svg" alt="Logo">
                            </a>
                        </h1>

                    </div>
                    <h1 class="m-0" style="float:right !important;">
                        <a class="button button-primary button-wide-mobile" href="@Url.Action("RegAuth")">Вход</a>
                    </h1>
                </div>

            </div>
        </header>

        <main style="background: #191d21;">
            <section style="background: #191d21;" class="hero text-center text-light">
                <div class="container-sm">

                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Распределение студентов на производственную практику</h1>
                            <p class="hero-paragraph">Наш сайт позволит вам выбрать компанию для прохождеиня производственной практики и оставить заявку на поступление в эту организацию</p>

                            <div class="hero-cta">
                                <a class="button button-primary button-wide-mobile" href="#block1" >Примеры компаний</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section style="background: #191d21;" class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0 is-revealing">Трудоустройство выпускников - одна из важнейших задач любого учебного заведения.</h2>
                                <img class="features-illustration is-revealing" src="https://visa-vip.ru/wp-content/uploads/2017/07/09.jpg" alt="Features illustration">
                            </div>
                        </div>
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon mb-16">
                                        <img src="/Images/svg/feature-01.svg" alt="Feature 01">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="feature-title mt-0 mb-8">Иванов В.А</h4>
                                        <p class="text-sm mb-0">Я проходил стажировку в ОАО "НИЦЭВТ". Было это еще в 2001 году, очень понравилось, по-настоящему заинтересовала работа.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon mb-16">
                                        <img src="/Images/svg/feature-02.svg" alt="Feature 02">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="feature-title mt-0 mb-8">Скорогудаева С.А.</h4>
                                        <p class="text-sm mb-0">Работала в ООО "ДолфинсАйти" в рамках производственной практики. Обучение в МПТ и практика очень помогли мне в рабочих навыках.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon mb-16">
                                        <img src="/Images/svg/feature-03.svg" alt="Feature 03">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="feature-title mt-0 mb-8">Русецкий М.А.</h4>
                                        <p class="text-sm mb-0">Выбрал для себя предприятие ООО "План-Б". Предложили остаться на постоянную, я согласился. Нисколько не жалею об этом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon mb-16">
                                        <img src="/Images/svg/feature-04.svg" alt="Feature 04">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="feature-title mt-0 mb-8">Серяк Д.В.</h4>
                                        <p class="text-sm mb-0">Я очень благодарен техникуму за полученные знания и возможность работать в таком достойном месте как ООО "ПраймТек".</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section style="background: #191d21;" class="features-extended section">
                <div class="features-extended-inner section-inner">
                    <div class="features-extended-header text-center">
                        <div class="container-sm">
                            <h2 class="section-title mt-0">Базы практик</h2>
                            <p class="section-paragraph">Московский Приборостроительный техникум сотрудничает с лучшими организациями в IT-индустрии. Среди наших партеров есть следующие компании</p>
                        </div>
                    </div>
                    <div class="features-extended-wrap" >
                        <div class="container" id="block1">
                            <div class="feature-extended">
                                <div class="feature-extended-image is-revealing">
                                    <img src="https://mpt.ru/files/studentu/bazi-praktik/%D0%A1%D0%BA%D0%BE%D0%BB%D0%BA%D0%BE%D0%B2%D0%BE.png" alt="Feature extended 01">
                                </div>
                                <div class="feature-extended-body is-revealing">
                                    <h3 class="mt-0">Сколково</h3>
                                    <p class="mb-0">Инновационный центр «Сколково» — действующий в Москве современный научно-технологический инновационный комплекс по разработке и коммерциализации новых технологий, первый в Российской Федерации строящийся с нуля наукоград, а также территория, представляющая собой протуберанец за МКАД, и городской микрорайон Москвы.</p>
                                </div>
                            </div>
                            <div class="feature-extended">
                                <div class="feature-extended-image is-revealing">
                                    <img src="https://mpt.ru/files/studentu/bazi-praktik/%D0%90%D0%B9%D1%82%D0%B8%20%D0%9B%D0%B8%D0%B3%D0%B0.png" alt="Feature extended 02">
                                </div>
                                <div class="feature-extended-body is-revealing">
                                    <h3 class="mt-0">ООО "Айти Лига"</h3>
                                    <p class="mb-0">Мы обеспечиваем своих клиентов безопасной и надежной IT-инфраструктурой, позволяя сформировать им комфортным и эффективным свой рабочий процесс, тем самым помогая реализовывать заложенный в организациях потенциал.</p>
                                </div>
                            </div>
                            <div class="feature-extended">
                                <div class="feature-extended-image is-revealing">
                                    <img src="https://sun9-34.userapi.com/impg/Dfhw_mAykffmLAnYge6VfpgffGSyposjuz2vzA/XDg7lVLpunc.jpg?size=465x305&quality=96&sign=4382ab21ded644b0c4993281985fc598&type=album" alt="Feature extended 03">
                                </div>
                                <div class="feature-extended-body is-revealing">
                                    <h3 class="mt-0">ООО "ПРАЙМТЕК"</h3>
                                    <p class="mb-0">Разработка, внедрение и сервисное обслуживание специализированных программных и технических средств обработки, защиты и контроля защищённости информации (в том числе в интересах органов государственной власти Российской Федерации)</p>
                                </div>
                            </div>
                            <div style="position:center; text-align:center" class="hero-cta">
                                <a style="position:center; "  class="button button-primary button-wide-mobile" href="@Url.Action("AllBase")">Посмотреть компании</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section  style="margin-bottom: 40px; background: #191d21;">

                <div id="carousel-wrapper">
                    <div id="menu">
                        <div id="current-option">
                            <span id="current-option-text1" data-previous-text="" data-next-text=""></span>
                            <span id="current-option-text2" data-previous-text="" data-next-text=""></span>
                        </div>
                        <button id="previous-option"></button>
                        <button id="next-option"></button>

                    </div>
                    <div id="image"></div>
                </div>

            </section>

            <section style="background: #191d21;"></section>
            <section style="background: #191d21;" class="cta section text-light">
                <div class="container">
                    <div class="cta-inner section-inner is-revealing">
                        <h3 class="section-title mt-0">Напишите пару слов о себе чтобы работодатель увидел вас!</h3>
                        <div class="cta-cta">
                            <a class="button button-wide-mobile" href="#">Заполнить резюме</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="site-footer-top">
                        <div class="site-footer-unit">
                            <div class="site-footer-unit-inner">
                                <div class="brand footer-brand mb-24">
                                    <a href="#">
                                        <img src="/Images/svg/logo.svg" alt="Logo">
                                    </a>
                                </div>
                                <ul class="footer-social-links list-reset">
                                    <li>
                                        <a href="#">
                                            <span class="screen-reader-text">Facebook</span>
                                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#FFF" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="screen-reader-text">Twitter</span>
                                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#FFF" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fa fa-google-plus" href="#">

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="site-footer-unit">
                            <div class="site-footer-unit-inner">
                                <div class="footer-top-links">
                                    <div class="footer-title mb-16">Ссылки для связи</div>
                                    <ul class="list-reset">
                                        <li>
                                            <a href="https://mpt.ru">Сайт</a>
                                        </li>
                                        <li>
                                            <a href="helpdo@mpt.ru">Почта для помощи</a>
                                        </li>
                                        <li>
                                            <a href="#"> 8 (926) 057-70-95 </a>
                                        </li>
                                        <li>
                                            <a href="#"> 8 (926) 057-70-95</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer-bottom">
                        <div class="footer-copyright">&copy; 2021 LimeInc, Все права защищены</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/main/script.js" charset="windows-1251"></script>
    <script src="/js/main/main.min.js"></script>
    <script src="~/js/main/scroll.js"></script>
</body>
</html>